.lightbox-ins {
    width: 500px;
    height: 320px;
}

.lightbox-shadow-ins {
    filter: alpha(opacity=30);
    -moz-opacity: 0.3;
    -khtml-opacity: 0.3;
    opacity: 0.3;
}

.ins-button-wrapper {
    margin: 60px;
}

.ins-button {
    position: absolute;
    bottom: 45px;
    right: 35px;
    width: 187px;
    height: 25px;

    background-color: #00ccff;
    color: white;
    font-family: "Open Sans";
    font-weight: 200;
    font-size: 18px;

    text-align: center;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    border: none;
    color: #ffffff;
    text-decoration: none;
    padding-top: 5px;
}
.ins-button:hover {
    color: #ffffff;
    text-decoration: none;
}
.ins-close {
    position: absolute;
    top: 7px;
    right: 7px;
}
