<% provide(:title, 'About Us') %>
<header class="navbar navbar-fixed-top navbar-inverse" >
    <div class="navbar-inner about-us-navbar-inner" >


        <% if @static_content_logo.nil? or @static_content_logo.image_name.blank?   %>
        <% else %>
            <%= link_to cl_image_tag(@static_content_logo.image_name, :width => 112, :height => 32 ), root_path , class:"brand",id:  "xroom_logo"  %>
        <% end %>

      <ul class="nav pull-right" >
        <li> <%= link_to_function "LOGIN", "javascript:login_lightbox_show()",:class => "grey_button_light grey_button", :id => "login_btn"%></li>
      </ul>

    </div>
</header>




<div class="about-us-main-picture"></div>
