<div class="profile_menu_box " >
    <ul>
      <li>
        <%= link_to "Profile",  edit_users_profiles_by_user_id_path(current_user.id)%>
      </li>
      <li>
        <%= link_to "Settings", edit_user_path(current_user.id) %>
      </li>
      <% unless current_user.provider == "facebook"%>
          <li>
            <%= link_to "Change password",users_edit_password_path(current_user.id) %>
          </li>
      <%end%>

    </ul>
</div>
