#xroom_header_search_box {
  position: fixed;
  z-index: 100;
  top: 40px;
  left: 163px;
  width: 380px;
  height: 324px;
  background-color: rgba(255, 255, 255, 0.8);
  overflow: auto;
}

.search-wrapper {
  background-color: #ffffff;
}

.search-container {
  color: #006daf;
  font-size: 12px;
  padding: 10px;
  margin: 0px;
  border: 0px;
  cursor: pointer;
}

.highlight-search {
  background-color: #bbbbbb;
}

.search_image_cell {
  width: 60px;
  height: 60px;
  border: 1px solid;
  border-color: #bbbbbb;
}

p {
  &.search_media_body_top {
    color: #0073a5;
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
  }
  &.search_media_body_bottom {
    color: #898989;
    font-size: 12px;
    margin: 0px;
  }
}
