<% provide(:title, 'Thank you ') %>

<% content_for :head do %>
    <!-- your tags -->
    <meta name="description" content="thank you page for forget password">
<% end %>


<div id="password_reset_container" >

  <div id="pasword_reset_container_right" >
    <div id="password_reset_title">
       Thank You
    </div>
    <div id="password_reset_content">
      <p>
        Just confirm the link sent to your email and you will be back i your ROOM in no time!
      </p>
    </div>
    <div id="password_reset_content">
      Need Help?
      <p>
        Click one of the following icons to visit your email provider.
      </p>
    </div>


  </div>
  <div id="pasword_reset_container_left" >
  </div>

</div>




