.browse_mode_site_nav{
  position:absolute;
  top:40%;
  overflow:hidden;
  z-index: 2;
  transition:top .5s ease-in-out;
  padding:2px;
  right:-14px; /*This way semi circle will be 36px wide, but still be circle shape.*/

  .browse_nav_row{
    width:100%;
    height:30px;
    border-bottom:1px solid #464646;
    text-align: center;
    padding:2px;
  }
  .browse_nav_row:hover{
    background-color:#313131;
  }
  
  .link_spanner{
    margin:0;
    padding:0;
    
  }

  #browse_mode_site_nav_close,#browse_mode_site_nav_minimize,#browse_mode_site_nav_refresh{
    background-repeat: no-repeat;
    display:inline-block;
    width: 28px;
    height: 28px;
    
    position:relative;

   }
  #browse_mode_site_nav_minimize
  {
    background-position: -44px -4px//-52px -15px; dim:11x2 boxwidth~28
    
  }
  #browse_mode_site_nav_refresh{
    background-position: -82px -6px;
  }
  #browse_mode_site_nav_close{
    background-position: -5px -1px;/*-14px -10px;*/
  }
}

.halfCircleLeft{
  /*wxh orignally 100x100, but adjusted for padding in browse_mode_site_nav*/
  height:96px;
  width:46px;
  border-radius: 96px 0 0 96px;
  -moz-border-radius: 96px 0 0 96px;
  -webkit-border-radius: 96px 0 0 96px;
  background:#000000;
}


.browse_mode_site_wrap{
  height:100%;
  width:100%;
  position:fixed;
  z-index:8;
  background-color: white;
}
iframe.current_browse_mode_site {
  width:100%;
  height:100%;

}
.browse_mode_site{
  display:none;
}
.current_browse_mode_site.browse_mode_site{
  display:block;
}
iframe.current_browse_mode_site.browse_mode_site{
  background-color:white;
}
div.current_browse_mode_site.browse_mode_site{
  width:100%;
  height:100%;
  position:fixed;
  padding-top:10%;
  color:black;
  text-align:center;
}

/**----BrowseModeSideBar---------**/
/*Expand Button*/

.halfCircleRight{
  /*This is a bottom semi-circle. It becomes right semi-circle by applying class vertical*/
     height:50px;
     width:100px;
     border-radius: 0 0 100px 100px;
     -moz-border-radius: 0 0 100px 100px;
     -webkit-border-radius: 0 0 100px 100px;
     background:black;

     color:white;
     text-align:center;
     font-size:14px;
     position:absolute;
     top:40%;
     z-index:8;
     left:-38px;/*verticalization offset by half the width (flipped height). 
                +14px to cut off the circle by 14 pixels to give width of 36px. */
     margin-top:25px; /*verticalizing this turns from the center, so nav menu doesn't line up 
                        even though they are positioned the same. 
                        offset margin by half height to fix. */
    opacity:0;
    /*Fade Transition*/
    -webkit-transition: opacity 1s ease-in;
    -moz-transition: opacity 1s ease-in;
     -ms-transition: opacity 1s ease-in;
      -o-transition: opacity 1s ease-in;
         transition: opacity 1s ease-in;

    .browse_expand_inner_wrap{
       padding-top: 12px;
       cursor:pointer;
       font-family: 'Open Sans Condensed',sans-serif;
       font-size:18px;
       font-weight:300;
    }

}
.vertical{
  /*Verticalize */
  -webkit-transform: rotate(-90deg);
  /* Firefox */
  -moz-transform: rotate(-90deg);
  /* IE */
  -ms-transform: rotate(-90deg);
  /* Opera */
  -o-transform: rotate(-90deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}
/*Browse mode Sidebar*/
.browse_mode_sidebar_wrap{
  position:fixed;
  width:0px;
  height:100%;
  z-index:8;
}
.browse_mode_sidebar{
  position:fixed;
  z-index:8;
  left:0px;
  top:45px;
  background-color:rgba(0,0,0,.8);
  padding:0 10px;
  height:100%;
  width:50px;
  color:#d2d4d4;
  font-size:12px;
  font-weight:bolder;
  text-transform:uppercase;

  /*Fade Transition*/
  -webkit-transition: left 1s ease-in;
  -moz-transition: left 1s ease-in;
   -ms-transition: left 1s ease-in;
    -o-transition: left 1s ease-in;
       transition: left 1s ease-in;
}

img.browse_mode_sidebar_icons{
  width:35px;
  border-radius:100%;
  -webkit-background-clip: padding-box; /*To help with the rough circle edges*/
  display:inline;

}
.browse_mode_view .vert .simply-scroll-btn{
  width:40px;
}

.browse_mode_list li{
  padding:8px 0;
  list-style: none;
  text-align:center;
}
.browse_mode_list li a{
  text-decoration: none;
  color:#d2d4d4;
}
.browse_sidebar_image{
  background-repeat:no-repeat;
  background-position: -159px -16px;
  display:block;
  width:40px;
  height:40px;
  margin-bottom:5px;
  margin-top:15px;
  margin-left:7px; /*this span comes with a mysterious right padding that doesn't let this image center.*/
}
.browse_mode_list div{
  margin:3px 0;
}
.browse_mode_list{
  margin:0;
}
.sidebar_spacer{
  height:5px;
  border-top: 1px solid #707070;
}
#browse_mode_list_selected .browse_mode_sidebar_icons,.blue_border{
  border:2px solid #40C3FD;
}
#browse_mode_active_highlight,#browse_mode_discover_highlight,#browse_mode_mybookmarks_highlight{
  display:none;
}
/*The Bookmarks menu text is too long. Negative margin here to help center it like the others. */
#browse_mode_bookmarks + div{
  margin-left:-8px;
  font-size:10.5px
}
li.browse_mode_sidebar_icons_list{
  // padding:8px;

}
#browse_mode_active_default{
  background-position:-159px -16px;
  margin-top:0;

}
#browse_mode_active:hover #browse_mode_active_default,#browse_mode_active_default.selected{
  background-position:-160px -87px;

}
#browse_mode_discover_default{
  background-position: -16px -16px;
}
#browse_mode_discover:hover #browse_mode_discover_default{
  background-position:-16px -89px;
}
#browse_mode_mybookmarks_default{
  background-position:-89px -16px;
}
#browse_mode_bookmarks:hover #browse_mode_mybookmarks_default{
  background-position:-90px -89px;
}
#browse_mode_bookmarks .browse_sidebar_text{
  font-size:10px;
  margin-left:-5px;
}

/*header Item name in Sidebar*/
#browse_mode_item_name{
  color: white;
  padding-top: 10px;
  font-size: 16px;
}
/*END Browse mode Sidebar*/
/*Active Sites Menu*/
.browse_mode_active_sites_menu{
  width: 100%;
  top: 45px;
  position: fixed;
  z-index: 9;
  height: 80px;
  padding: 0;
  margin: 0;
  left: -12070px;
  opacity:0;
  background-color:rgba(0,0,0,.8);
  transition: opacity .5s ease-in-out;
}
.horizontal_list{
  padding-left:20px;
  padding-top:20px;
  margin:0;
}
.horizontal_list li{
  display:inline;
  list-style-type: none;
  padding-right:15px;
}
.active_menu_site_icon{
  display:inline-block;
  width: 40px;
  min-height:40px;
  border-radius:100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
#active_menu_close_wrap{
  position:absolute;
  top:5px;
  right:90px;
}
/*END Active Sites Menu*/