
#pasword_reset_container_right{
  float:right;
  width:470px;
  text-align: left;
  margin: 50px 200px 50px 0px;
  border-color: #e2e2e2;
  border-width:2px;
  border-style:solid;
  padding: 0px 20px;

}
#pasword_reset_container_left{
  float:left;
  width:100px;
}

.clear{
  clear:  both;
}

#password_reset_title{
  font-size: 18px;
  font-weight: bold;
  margin: 20px 0px 0px 0px;
}

#password_reset_content{
  font-size: 12px;
  font-weight: normal;
  margin: 10px 0px;

}
#password_reset_email_text{
  font-size: 12px;
  font-weight: bold;

}
#password_reset_email_btn{
  margin: 10px 0px;

}
#password_reset_email_field{
  width: 400px;

}


.password_reset_content_mail_table table {

  width: 100%;
  border-collapse: separate;
  border-spacing: 15px 15px;

}

.password_reset_content_mail_table td {

  text-align: center;
  border-top: 1px solid #e2e2e2;
  padding: 19px;

}

.pw_reset_content_wrap{
  text-align:center;
  padding-top:80px;
  height:360px;
}
.pw_reset_logo{
  width:45%;
  float:left;
  height:260px;
  border-right: 1px solid #e2e2e2;
  text-align:center;
  vertical-align:middle;
  display:table;
  padding-right:3%;
}

.pw_logo_helper{
  display:inline-block;
  height:100%;
  vertical-align: middle;
}

.pw_reset_logo img{
  vertical-align: middle;
}

.pw_reset_form{
  width:35%; /*change from 40 to 35 for FF users*/
  float:left;
  text-align: left;
  padding:0 5%;
}

.actions.pw_reset_btn_wrap input{
  background-color: #39b54A;
  color: white;
  font-size:12px;
  border-radius: 3px;
  box-shadow: none;
  border: none;
  width: 136px;
  margin-top:15px;
}
.pw_reset_content_wrap .field label{
  font-size:12px;
  margin-top:5px;
  margin-bottom:3px;
}
.pw_reset_content_wrap .field input{
  width:315px;
}

