<div class="profile_title_box" >
  MY PROFILE
</div>

<%= render 'users_profiles/profile_nav' %>



<div class="users_container">

  <div id=users_container_left>
    <p>
      <b>Email:</b>
      <%= @user.email %></br>
    </p>
    <p>
      <b>User Name:</b>
      <%= @user.username %></br>
    </p>

  </div>
  <div id=users_container_right>

  </div>
</div>
<div class="clear"></div>
