<% provide(:title, @user.username) %>
<h1>This is my profile</h1>
<div class="row">
  <aside class="span4">
    <section>

      <p>
        <b>Email:</b>
        <%= @user.email %></br>
      </p>
      <p>
        <b>User Name:</b>
        <%= @user.username %></br>
      </p>

    </section>
  </aside>


</div>

