<% provide(:title, 'Shop for the trendiest items online') %>

<% content_for :head do %>
    <!-- your tags -->
    <meta name="description" content="Discover and shop for clothing, furniture, decor, electronics, gifts, vacations and keep up with the trends!">
<% end %>


<div class="shop_container">
  <%= render 'shop_nav' %>
  <div class="shop_table">
      <table>
          <% if @item_length > 0 %>
          <% @items.in_groups_of(@item_length,false).each do |item_groups| %>
              <tr>
                <% item_groups.each do |item| %>
                <td >
                    <% if item.image_name.blank?  %>
                         <%= link_to cl_image_tag("default_image_all.png", width: 180,height:180,:crop => :fit,:default_image => "default_image_all.png"),  shop_show_item_path(item.id,get_clean_name(item.name)), :method => :get %>
                    <% else %>
                          <%= link_to cl_image_tag(item.image_name , width: 180,height:180,:crop => :fit,:default_image => "default_image_all.png"),  shop_show_item_path(item.id,get_clean_name(item.name)), :method => :get %>
                    <% end%>

                    </br><%= item.name[0,15] %>



                </td>
                <% end %>
              </tr>
          <% end %>
         <% end %>
        </table>
  </div>

</div>


<br />

