<!-- # <% if @fb_app_id %>
#   <h3> fb_app_id: YES </h3>
# <% else %>
#   <h3> fb_app_id: NO </h3>
# <% end %>


# <% if @room_background_color %>
#   <h3> room_background_color: YES </h3>
# <% else %>
#   <h3> room_background_color: NO </h3>
# <% end %>


# <% if @skip_header %>
#   <h3> skip_header: YES </h3>
# <% else %>
#   <h3> skip_header: NO </h3>
# <% end %>


# <% if @skip_signup %>
#   <h3> skip_signup: YES </h3>
# <% else %>
#   <h3> skip_signup: NO </h3>
# <% end %>


# <% if @skip_login %>
#   <h3> skip_login: YES </h3>
# <% else %>
#   <h3> skip_login: NO </h3>
# <% end %>


# <% if @landing_page_view %>
#   <h3> landing_page_view: YES </h3>
# <% else %>
#   <h3> landing_page_view: NO </h3>
# <% end %>


# <% if @skip_container %>
#   <h3> skip_container: YES </h3>
# <% else %>
#   <h3> skip_container: NO </h3>
# <% end %>


# <% if @skip_footer %>
#   <h3> skip_footer: YES </h3>
# <% else %>
#   <h3> skip_footer: NO </h3>
# <% end %>
 -->
