
<div id="xroom_main_container">
  <div id="xroom">
    <div id="xroom_header">   </div>
    <div id="xroom_items">    </div>
    <div id="xroom_profile">  </div>
    <div id="xroom_storepage">    </div>
    <div id="xroom_bookmarks">    </div>
    <div id="xroom_footer">   </div>
  </div>

</div>


