<div id="contaniner" > Loading rooms... waiting for backbone :) ...

        <% provide(:title, @user.name) %>
        <h1>This is My room</h1>
        <div class="row">
          <aside class="span4">
            <section>
              <h1>
                <%= @user.name %>
              </h1>

              name: <%= @user.name %>,</br>
              email:  <%= @user.email %></br>
              username: <%= @user.username %></br>

            </section>
          </aside>
        </div>

</div>
