.about-us-header {
  font-family: "Open Sans";
  font-weight: 200;
  font-style: normal;
}


.about-us-margin {
  margin: 50px;
}

.about-us-blue {
  background-color: #00ccff;
}

.about-us-white-text {
  color: white;
}

.about-us-blue-picture {
  padding-top: 30px;
}

.picture-padding {
  padding: 20px;
}


.about-us-picture {
  border: none;
  -webkit-border-radius: none;
          border-radius: none;
          box-shadow: none;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
}
