/*
(1) HEADER
*/

/*
(2) TOP IMAGE
*/
.about-top-image-wrap {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: 650px;
}
.about-top-image {
  width: 100%;
  height: 650px;
  background-image: url(http://res.cloudinary.com/hpdnx5ayv/image/upload/v1385161332/team-image-01.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}
/*
(3) OUR PRODUCT
*/

/*
(4) ABOUT US
*/

/*
(5) ROOMS TEAM
*/
.about-thumbnail {
  border: none;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.about-wrapper {
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  max-height: 250px;
  max-width: 250px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.about-individual-picture {
  border: solid #00ccff 2px;
  max-height: 250px;
  max-width: 250px;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
}

.about-background {
  max-height: 250px;
  max-width: 250px;
  border-radius: 50%;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
}

/*
To calculate height, width, take image size (in our case 250) squared / 2, root-ed
So... x = (250^2/2)^(1/2)
      x = 176
*/
.about-quote {
  cursor: default;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 1.1em;
  font-weight: 200;
  margin: auto;
  top: 0; bottom: 0; left: 0; right: 0;
  max-height: 176px; // If this needed to be adjusted for each quote, we'd put a smaller number for a shorter quote, bigger number for a longer quote
  max-width: 176px;
  position: absolute;
  text-align: center;
  -moz-text-align-last: center;
  text-align-last: center;
  overflow: auto;
  opacity: 0;
}

.about-quote-small {
  max-height: 60px;
}

.about-quote-medium {
  max-height: 95px;
}

.about-quote-large {
  max-height: 130px;
}

.about-quote-x-large {
  max-height: 180px;
}



.about-wrapper:hover .about-quote {
  opacity: 1;
}

.about-wrapper:hover .about-background {
  background-color:rgba(0,0,0,0.8);
}

/*
(6) JOIN THE TEAM
*/

/*
(7) PARTNERS
*/

/*
(8) FEEDBACK
*/

/*
(9) PRESS
*/

/*
(10) CONTACT US
*/

/*
(11) SIGN UP
*/
#about-signup-button {
  font-family: "Open Sans";
  font-weight: normal;
  font-size: 18px;
  text-align: center;
  padding: 16px 180px;
  margin: 5px 5px;
  background-color:  #00ccff;
  color: #ffffff;
  text-decoration: none;
  border: none;
}
#about-signup-button:hover {
  color: #ffffff;
  text-decoration: none;
}



/*
--- GENERAL---
*/

/*
TEXT FONT / COLOR
*/
.about-heading-black {
  font-family: "Open Sans";
  font-weight: 200;
  font-style: normal;
  color: black;
}
.about-heading-white {
  font-family: "Open Sans";
  font-weight: 200;
  font-style: normal;
  color: white;
}
.about-text-black {
  font-family: "Open Sans";
  font-weight: 200;
  font-style: normal;
  color: black;
}
.about-text-white {
  font-family: "Open Sans";
  font-weight: 200;
  font-style: normal;
  color: white;
}
.about-text-blue {
  font-family: "Open Sans";
  font-weight: 200;
  font-style: normal;
  color: #00ccff;
}
/*
BACKGROUND COLOR
*/
.about-background-blue {
  background-color: #00ccff;
}

.about-background-gray {
  background-color: #f3f3f3;
}

.about-background-black {
  background-color: #333333;
}

/*
SECTION HEIGHT
*/
.about-section {
  height: 650px;
}

/*
RECTANGLE PADDING
*/
.about-rectangle-padding {
  padding-top: 20px;
  padding-bottom: 20px;
}
/*
TEXT ABOUT RECTANGLE PADDING
*/
.about-text-above-rectangle-padding {
  padding-left: 20px;
}
/*
MARGIN
*/
.about-margin {
  margin-top: 115px;
}

.about-margin-half {
  margin-top: 50px;
}

.about-margin-left {
  margin-left: 115px;
}

.about-margin-right {
  margin-right: 115px;
}
