.about-us-main-picture {
  max-height: 650px;
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url(http://res.cloudinary.com/hpdnx5ayv/image/upload/v1384971206/help-test.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

.about-us-navbar-inner {
  min-height: 44px;
}

.about-us-header {
  font-family: "Open Sans";
  font-weight: 200;
  font-style: normal;
}

.about-us-margin {
  margin: 0;
}

.about-us-blue {
  background-color: #00ccff;
}

.about-us-grey {
  background-color: #dcdcdc;
}

.about-us-blue-border {
  border-color: #00ccff;
  border: 3px;
}

.about-us-white-text {
  color: white;
}

.about-us-blue-picture {
  padding-top: 30px;
}

.picture-padding {
  padding: 20px;
}

.about-us-picture {
  border: none;
  -webkit-border-radius: none;
          border-radius: none;
          box-shadow: none;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
}

.partner-padding {
  padding-top: 10px;
  padding-bottom: 10px;
}
