/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_self
 *= require_tree .
 */



/* universal */


body {
    padding-top: 45px;
    font-family:"Open Sans";
}

.center {
    text-align: center;
}

.center h1 {
    margin-bottom: 10px;
}

/* footer */

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #999;
}

footer a {
    color: #555;
}

footer a:hover {
    color: #222;
}

footer small {
    float: left;
}

footer ul {
    float: right;
    list-style: none;
}

footer ul li {
    float: left;
    margin-left: 10px;
}
/*Apply class to img to flip picture horizontally.*/
.flipimg{
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

/*Social Bar Style*/
.fb_like_item img{
    width:50px;
    height:auto;
}
.pinterest_item img{
    width:20px;
    height:auto;
}
.info_button_item img{
    width:50px;
    height:auto;
}
.social_bar .navbar .nav > li > a{
    padding:10px 5px 10px;
}
.social_bar .navbar{
    border-spacing:0;
}
/*End social bar style*/