.browse_mode_site_nav{
	position:absolute;
	top:82px;
	right:152px;
}
.browse_mode_sidebar{
	position:fixed;
	z-index:8;
	left:0;
	top:45px;
	background-color:rgba(0,0,0,.8);
	padding:10px;
	height:100%;
	width:50px;

}
.browse_mode_site_wrap{
	height:100%;
	width:100%;
	position:fixed;
	z-index:8;
	left:70px;
}
iframe.current_browse_mode_site {
	width:100%;
	height:100%;

}
.browse_mode_site{
	display:none;
}
.current_browse_mode_site.browse_mode_site{
	display:block;
}
iframe.current_browse_mode_site.browse_mode_site{
	background-color:white;
}
/*Browse mode Sidebar*/
img.browse_mode_sidebar_icons{
	width:30px;
}

.browse_mode_list li{
	padding:10px 0;
	list-style: none;
}
.browse_mode_list{
	margin:0;
}
#browse_mode_list_selected{
	border:2px solid #40C3FD;

}
/*END Browse mode Sidebar*/
/*Active Sites Menu*/
.browse_mode_active_sites_menu{
	border: 1px dashed pink;
	width: 100%;
	top: 45px;
	position: fixed;
	z-index: 9;
	height: 80px;
	padding: 0;
	margin: 0;
	left: -2070px;
	background-color:rgba(0,0,0,.8);
	transition: all 1.5s ease-in-out;
}
.horizontal_list{
	padding-left:20px;
}
.horizontal_list li{
	display:inline;
	list-style-type: none;
	padding-right:15px;
}
#active_menu_close_wrap{
	position:absolute;
	top:50px;
	right:10%;
}
.active_menu_site_icon{
	display:inline-block;
	width: 30px;
	min-height:30px;
	border-radius:3px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
/*END Active Sites Menu*/