#feedback_lightbox {
  position: fixed;
  top: 0;
  left: 50%;
  width: 500px;
  height: 320px;
  margin-left: -250px;
  background: #ffffff;
  z-index: 1501;
  text-align: right;


}
#feedback-shadow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.8);
  opacity: 0.75;
  z-index: 1500;

}

#feedback_lightbox input[type="text"]{
  width: 100%;
  margin: 10px;

}

#feedback_lightbox textarea{
  width: 100%;
  resize: none;
  margin: 10px;

}


#feedback_btn_container{
  display: inline;
}


#feedback_close_btn{
  margin: 20px;


}
