
#pasword_reset_container_right{
  float:right;
  width:470px;
  text-align: left;
  margin: 50px 200px 50px 0px;
  border-color: #e2e2e2;
  border-width:2px;
  border-style:solid;
  padding: 0px 20px;

}
#pasword_reset_container_left{
  float:left;
  width:100px;
}

.clear{
  clear:  both;
}

#password_reset_title{
  font-size: 18px;
  font-weight: bold;
  margin: 20px 0px 0px 0px;
}

#password_reset_content{
  font-size: 12px;
  font-weight: normal;
  margin: 10px 0px;

}
#password_reset_email_text{
  font-size: 12px;
  font-weight: bold;

}
#password_reset_email_btn{
  margin: 10px 0px;

}
#password_reset_email_field{
  width: 400px;

}
