// Place all the styles related to the Rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS)   here: http://sass-lang.com/

.room_backgroud_color{
    background-color: rgba(0,0,0,.9);
}

.room_scroll_left{
  position:fixed;
  z-index:4;
  top:45px;
  left:0px;
  width:50px;
  height:750px;
  background-color: rgba(0,0,0,0);
}

.room_scroll_left:hover{
  background-color: rgba(0,0,0,.3);
}

.room_scroll_left img{
  position:relative;
  top:50%;
  left:10px;
  width: 22px;
  height:24px;
}

.room_scroll_right{
  position:fixed;
  z-index:4;
  top:45px;
  right:0px;
  width:50px;
  height:750px;
  background-color: rgba(0,0,0,0);
}

.room_scroll_right:hover{
  background-color: rgba(0,0,0,.3);
}

.room_scroll_right img{
  position:relative;
  top:50%;
  left:10px;
  width: 22px;
  height:24px;
}

#xroom_items_0{
  position:absolute;
  left:-1999px;
  top:45px;
  z-index: -1;
  width: 2000px;

}
#xroom_items_1{
  position:absolute;
  left:0px;
  top:45px;
  z-index: -1;
  width: 2000px;

}
#xroom_items_2{
  position:absolute;
  left:1999px;
  top:45px;
  z-index: -1;
  width: 2000px;

}


#lightbox {
	position: absolute;
	top: 0;
	left: 50%;
	width: 500px;
	margin-left: -250px;
	background: #fff;
	z-index: 1001;
	display: none;
}
#lightbox-shadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	filter: alpha(opacity=75);
	-moz-opacity: 0.75;
	-khtml-opacity: 0.75;
	opacity: 0.75;
	z-index: 1000;
	display: none;
}
