// Place all the styles related to the rooms_profile object. 
//Created by Sara Neale 8/12/2013

#users_profile_container{
  overflow:hidden;
  width:remainder;
  line-height:1.5;
  font-size:12px;
  color:#5A5A5A;
  background:#fff;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

//There is a fake header in the Profile code about 50px high. The div is placed at top:0 so the content shows below the rooms header
.user_profile{
	position:absolute;
	z-index:200;
	top:0px;
	left:0px;
	font-family:"Open Sans",sans-serif
}
#profile_drawer{
	width:760px; /*profile container width - drawer_handle width*/
	transition:all 2s ease-in-out;
}
nav.profile {
     position:fixed;
     // top: 16px;/*this needs to be rooms_header height*/
     height:100%;
     background-color:transparent; /* your choice here */
     z-index:3; /* make sure this is the highest z-index on the page */
}
#profile_drawer_handle{
    position: absolute;
    top: 41px; /*This needs to be the same as the rooms_header height*/
    right: 0;
    height: 100%;
    background-color: rgba(0,0,0,.8); /* your choice here */
    width:40px;/*Sara add width*/
}
#profile_home_wrapper figure{
	margin:0;
	padding:0;
	display:table;
}
#profile_home_wrapper figcaption{
	font-size:8px;
	display:table-row;
	white-space:nowrap;
	
}
.user_profile p{
	font-weight:normal;
	font-size:16px;
	margin:0;
	padding:0;
	color:#f5f5f5;
}
#profile_home_wrapper td{
    width:200px;
}
#profile_home_wrapper ul{
	margin:0;
	padding:0;
}
#profile_sidebar a,#profile_sidebar a:visited{
	text-decoration:none;
	color:#f5f5f5;
	
}
#profile_home_wrapper a:hover{
	background:rgba(0,0,0,.8);
}

#profile_home_wrapper{
	min-height:100%;
}
#fakefooter{
	height:50px;
}
#push{
	height: 50px;
	clear:both;

}
#fakeheader{
	height:41px; /*This needs to be the same as the rooms_header height*/
}

#profile_home_container{
	height:100%;
	width:720px;
	position:relative;
	transition:left 2s ease-in-out;
	
}

#profile_sidebar{
	background: rgba(51,51,51,.8);
	width:70px;
	position:absolute;
	left:0;
	top:0px;
	bottom:0px;
	text-transform:uppercase;
	padding:0 10px;
}
#profileHome_container{
	/*margin-left is the profile_sidebar width + sidebar padding*/
	margin-left:90px;
	background: rgba(0,0,0,.8);
	position:relative;/*for close button positioning*/
	color: #f5f5f5;
	/*left transition will turn left into negative width of profile_home_container */
	transition:all 2s ease-in-out;

}
#profile_sidebar li{
	
}
#profile_sidebar li, #profile_sidebar li a{
	list-style-type: none;
	text-align:center;
	padding-top:60px;
}
#profile_sidebar ul{
	font-size:15px;
	font-weight:lighter;
	margin:0;
	padding:0;

}
#profile_sidebar li a{

}
div.spacer{
	height:100px;
}
//Sidebar Icons

#profile_home a{
	padding-top: 60px;
	height:50px;
	text-align: center;
	background: url("http://res.cloudinary.com/hpdnx5ayv/image/upload/v1375811602/homebtn-default_fllxkx.png") no-repeat center;
}
#profile_home a:hover{
	background: url("http://res.cloudinary.com/hpdnx5ayv/image/upload/v1375811602/homebtn-active_n7xzdo.png") no-repeat center;
}
#profile_photos a{
	background: url("http://res.cloudinary.com/hpdnx5ayv/image/upload/v1375811603/photobtn-default_wyukgi.png") no-repeat center;
}
#profile_photos a:hover{
	background: url("http://res.cloudinary.com/hpdnx5ayv/image/upload/v1375811603/photobtn-active_fkeam2.png") no-repeat center;
}
#profile_friends a{
	background: url("http://res.cloudinary.com/hpdnx5ayv/image/upload/v1375811602/friendsbtn-default_acwlwf.png") no-repeat center;
}
#profile_friends a:hover{
	background: url("http://res.cloudinary.com/hpdnx5ayv/image/upload/v1375811602/friendsbtn-active_zjl9jt.png") no-repeat center;
}
#profile_key_requests a{
	background: url("http://res.cloudinary.com/hpdnx5ayv/image/upload/v1375811603/keyrequestbtn-default_cow1kv.png") no-repeat center;
}
#profile_key_requests a:hover{
	background: url("http://res.cloudinary.com/hpdnx5ayv/image/upload/v1375811603/keyrequestbtn-active_btjwdx.png") no-repeat center;
}
#profile_activity a{
	background: url("http://res.cloudinary.com/hpdnx5ayv/image/upload/v1375811602/activitybtn-default_nszatj.png") no-repeat center;
}
#profile_activity a:hover{
	background: url("http://res.cloudinary.com/hpdnx5ayv/image/upload/v1375811572/activitybtn-active_w91vry.png") no-repeat center;
}

#profile_home_info_img{
	height:150px;
	width:120px;
	margin:1em;
	padding:0;
	float:left;
}
#profile_home_info_img{
	margin:1em;
}
#profile_home_info_img img{
	width:100px;
	height:120px;
}
#profile_home_info_img img:hover{
	border:2px solid #ffc000;
	/*float:left;
	border:1px solid #AFAFAF;
	width:100px;
	min-height:100px;
	background:rgba(0,0,0,.50);*/
}
#profile_home_info_wrap{
	/*Need float and width to keep basicInfo borders contained*/
	float:left;
	width:460px;
	background: #1d1d1d;
	margin:1em 0;
	color:#f5f5f5
}
/*this refers to top section of the profile container */
#profileHome_top{

	height:150px;
}
#profile_home_basic_info{
	border-top:1px solid #2c2c2c;
	border-bottom: 1px solid #2c2c2c;
	font-size:15px;
	font-weight:lighter;
	padding:15px 10px;
	
}

#profile_home_basic_info ul li{
	display:inline;
}
/* this refers to the bottom section of the profile container */
#profileHome_bottom{
	clear:both;
	background-color: white;
	margin: 0 1em;

}
#info_username{
	font-size:15px;
	text-transform:uppercase;
}
div.profile_info_name{
	padding:15px 10px;
}
#profile_info_name{
	font-size:22px;
}
.blueLink{
	color:#0099cb;
	font-weight:lighter;
	font-size:15px;
}
#profile_home_description{
	font-style:italic;
	font-size:16px;
	padding:15px 10px;
	font-weight:lighter;
}

/*General Table CSS for Photos,INS,Activity,etc*/
#profile_home_wrapper th{
	background-color: #5d6567;
	color:white;
	text-align:left;
	font-size:16px;
	font-weight:normal;
	text-transform:uppercase;
	width:100%
}
#profile_home_wrapper table.generalGrid{
	width:100%;
}
.gridItemPicture {
	width:180px;
	height:180px;
	background-size:contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
td.gridItem{
	text-align:center;
}
.gridItemDescription{
	color:black;
	font-size:12px;
	font-weight:lighter;
}
#profile_close_button{
	position:absolute;
	right:0;
	top:0;
}
#profile_collapse_arrow{
	position:absolute;
	right:0;
	top:50%;
}
/*image holders for profile friends, requests, and suggestions*/
div.profile_friend_image_holder, .profile_request_single_image_holder, 
.profile_friend_suggestion_single_image_holder{
	 width:70px;
	 height:70px;
	 background-size:contain;
	 background-repeat: no-repeat;
	 background-position: 50% 50%;
}
.media.profile_friend{
	color:black;
}
.profile_friend{
	background-color:gray;
}