
.store_main_box {
  top: 50px;
  right: 0px;
  z-index:4;
  float: right;
  width:700px;
  height:700px;
  padding:0px;
  margin:0 auto;
  background-color: rgba(0,0,0,.8); /* your choice here */
  transition:all .3s ease-in-out;

}
.store_main_box {
  float: right;
  width:40px;
  height:700px;
  padding:0px;
  margin:0 auto;
  /*background-color: rgba(0,0,0,.8);  your choice here */
  transition:all .3s ease-in-out;

}

#store_main_box_left{

  float:left;
  width:40px;
  height:600px;
  padding: 0px;
  margin:0 auto;
  background-color:#0099cb;
}

#store_main_box_right{
  float:right;
  width:600px;
  height:600px;
  padding: 0px;
  margin:0 auto;
  background-color:#ffc000;
}

#store_close_button img{

  position:relative;
  left:10px;
  width: 14px;
  height:14px;


}

#store_collapse_button img{
  position:relative;
  top:50%;
  left:-10px;
  width: 22px;
  height:24px;

}