.browse_mode_site_nav{
  position:absolute;
  top:5px;
  right:95px;
  z-index: 2;
  transition:top .5s ease-in-out;
  padding:2px;

  .link_spanner{
    margin:0;
    padding:0;
    
  }
  #browse_mode_site_nav_close,#browse_mode_site_nav_minimize,#browse_mode_site_nav_refresh{
    background-repeat: no-repeat;
    display:inline-block;
    width: 28px;
    height: 28px;
    
    position:relative;

   }
  #browse_mode_site_nav_minimize
  {
    background-position: -121px -58px;
    
  }
  #browse_mode_site_nav_refresh{
    background-position: -12px -58px;
  }
  #browse_mode_site_nav_close{
    background-position: -67px -58px;
  }
}

.browse_mode_sidebar{
  position:fixed;
  z-index:8;
  left:0;
  top:45px;
  background-color:rgba(0,0,0,.8);
  padding:0 10px;
  height:100%;
  width:50px;
  color:#d2d4d4;
  font-size:12px;
  font-weight:bolder;
  text-transform:uppercase;
}
.browse_mode_site_wrap{
  height:100%;
  width:100%;
  position:fixed;
  z-index:8;
  left:70px;
  background-color: white;
}
iframe.current_browse_mode_site {
  width:100%;
  height:100%;

}
.browse_mode_site{
  display:none;
}
.current_browse_mode_site.browse_mode_site{
  display:block;
}
iframe.current_browse_mode_site.browse_mode_site{
  background-color:white;
}
div.current_browse_mode_site.browse_mode_site{
  width:100%;
  height:100%;
  position:fixed;
  padding-top:10%;
  color:black;
  text-align:center;
}
/*Browse mode Sidebar*/
img.browse_mode_sidebar_icons{
  width:35px;
  border-radius:100%;
  -webkit-background-clip: padding-box; /*To help with the rough circle edges*/
  display:inline;

}
.browse_mode_view .vert .simply-scroll-btn{
  width:40px;
}

.browse_mode_list li{
  padding:12px 0;
  list-style: none;
  text-align:center;
}
.browse_mode_list li a{
  text-decoration: none;
  color:#d2d4d4;
}
.browse_sidebar_image{
  background-repeat:no-repeat;
  background-position: -159px -16px;
  display:block;
  width:40px;
  height:40px;
  margin-bottom:5px;
  margin-top:15px;
  margin-left:4px; /*this span comes with a mysterious right padding that doesn't let this image center.*/
}
.browse_mode_list div{
  margin:3px 0;
}
.browse_mode_list{
  margin:0;
}
.sidebar_spacer{
  height:22px;
  border-top: 1px solid #707070;
}
#browse_mode_list_selected .browse_mode_sidebar_icons,.blue_border{
  border:2px solid #40C3FD;
}
#browse_mode_active_highlight,#browse_mode_discover_highlight,#browse_mode_mybookmarks_highlight{
  display:none;
}
/*The Bookmarks menu text is too long. Negative margin here to help center it like the others. */
#browse_mode_bookmarks + div{
  margin-left:-8px;
  font-size:10.5px
}
li.browse_mode_sidebar_icons_list{
  padding:8px;

}
#browse_mode_active_default{
  background-position:-159px -16px;
  margin-top:0;

}
#browse_mode_active:hover #browse_mode_active_default,#browse_mode_active_default.selected{
  background-position:-160px -87px;

}
#browse_mode_discover_default{
  background-position: -16px -16px;
}
#browse_mode_discover:hover #browse_mode_discover_default{
  background-position:-16px -89px;
}
#browse_mode_mybookmarks_default{
  background-position:-89px -16px;
}
#browse_mode_bookmarks:hover #browse_mode_mybookmarks_default{
  background-position:-90px -89px;
}
#browse_mode_bookmarks .browse_sidebar_text{
  font-size:10px;
  margin-left:-5px;
}

/*header Item name in Sidebar*/
#browse_mode_item_name{
  color: white;
  padding-top: 10px;
  font-size: 16px;
}
/*END Browse mode Sidebar*/
/*Active Sites Menu*/
.browse_mode_active_sites_menu{
  width: 100%;
  top: 45px;
  position: fixed;
  z-index: 9;
  height: 80px;
  padding: 0;
  margin: 0;
  left: -12070px;
  background-color:rgba(0,0,0,.8);
  transition: left .5s ease-in-out;
}
.horizontal_list{
  padding-left:20px;
  padding-top:20px;
  margin:0;
}
.horizontal_list li{
  display:inline;
  list-style-type: none;
  padding-right:15px;
}
.active_menu_site_icon{
  display:inline-block;
  width: 40px;
  min-height:40px;
  border-radius:100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
#active_menu_close_wrap{
  position:absolute;
  top:5px;
  right:90px;
}
/*END Active Sites Menu*/