#store_main_box {
  position:fixed;
  z-index:4;
  top:50px;
  right:0px;
  width:700px;
  height:750px;
  font-family:"Open Sans",sans-serif;
  background-color: rgba(0,0,0,.8);
  transition:all .4s ease-in-out;
 }

.store_main_box_left{
  float:left;
  width:40px;
  height:750px;
  background-color:#0099cb;

}

.store_main_box_right{
  float:right;
  width:660px;
  height:750px;
  background-color:#ffc000;
}

#store_close_button img{
  position:relative;
  left:10px;
  width: 14px;
  height:14px;

}

#store_collapse_button img{
  position:relative;
  top:50%;
  left:-10px;
  width: 22px;
  height:24px;

}