.profile_objects_view .profile_table_inner_div{
  overflow-y:auto;
  min-height:500px;
}

.profile_objects_view{
    background-color: transparent;
}

.profile_friends_dropdown_menu{
  top:10px;
}

#myModal{
  color:black;
}
/*Z-index to make the settings menu not trigger the click on the div its in*/
.btn-group.pull-right.profile_friend_button{
  z-index:2
}