// Place all the styles related to the shop controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#shop-main-nav a{
  color: #009bce;

}

#shop-main-nav a:hover{
  color: #343434;
  background-color: #e2e2e2;

}


.shop_container h5{
  color: #464646;
  font-family: "Open Sans";
}

.shop_filter{
  width:15%;
  float:left;
}
.shop_filter a{
  color:#009bce;
}

.shop_filter a:before{
  content: "\00a0 \00a0 \00a0";
}


.shop_filter a:hover {
  color:#000000;
}

.shop_content_entity{
  width:85%;
  float:right;

}

.shop_content_entity a:hover {
  background-color:#f0f0f0;
}

.shop_left{
  width:60%;
  float:left;
  text-align: left;
}

.shop_right{
  float:right;
  width:40%;
}
.shop_description{
  font-size: 12px;
  font-weight: normal;
}
.brand_name{
  font-size: 12px;
  font-weight: bold;
}

.shop_name  {
  font-size:18px;
  font-weight: lighter;
}


.shop_table table {

  width: 100%;
  border-collapse: separate;
  border-spacing: 15px 15px;
}

.shop_table td {
  text-align: center;
  border: 1px solid #e2e2e2;

}


#shop_green_button{
  width: 362px;
  text-align: left;
  background-repeat:no-repeat;
  background-size: contain;
  background-position: -70px 0px;
  padding: 6px 0px 6px 47px;
}


#shop_see_it_in_your_room_before_you_buy{
  font-size:13px;
  color: #0073a5;

}

.shop_main_image_name{
  margin: 50px 100px;

}

.shop_main_image_name_bookmark{
  margin: 50px 150px;

}
.shop_related_items{
  font-size:18px;
  font-weight: normal;
  margin: 0px 15px;
}

.shop_upper_container a:hover {
  background-color: #00b7e5;
}






