// Place all the styles related to the UsersProfiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#users_profile_container{
  overflow:hidden;
  width:remainder;
  line-height:1.5;
  font-size:12px;
  color:#5A5A5A;
  background:#fff;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}
//There is a fake header in the Profile code about 50px high. The div is placed at top:0 so the content shows below the rooms header
.user_profile{
	position:absolute;
	z-index:200;
	top:0px;
	left:0px;
	font-family:"Open Sans",sans-serif
}
#Profile-Home-wrapper figure{
	margin:0;
	padding:0;
	display:table;
}
#Profile-Home-wrapper figcaption{
	font-size:8px;
	display:table-row;
	white-space:nowrap;
	color:white;
}
.user_profile p{
	font-weight:normal;
	font-size:16px;
	margin:0;
	padding:0;
	color:white;
}
#Profile-Home-wrapper td{
    width:200px;
}
#Profile-Home-wrapper ul{
	margin:0;
	padding:0;
}
#profile_sidebar a,a:visited{
	text-decoration:none;
	color:#f5f5f5;
	
}
#Profile-Home-wrapper a:hover{
	background:rgba(0,0,0,.8);
}

#Profile-Home-wrapper{
	min-height:100%;
}
#fakefooter{
	height:50px;
}
#push{
	height: 50px;
	clear:both;

}
#fakeheader{
	height:50px;
}

#Profile-Home-container{
	height:100%;
	
}

#profile_sidebar{
	background: rgba(51,51,51,.8);
	width:100px;
	position:absolute;
	left:0;
	top:50px;
	bottom:0px;
	color: #f5f5f5;
	text-transform:uppercase;
}
#profileHome_container{
	/*margin-left is the profile_sidebar width*/
	margin-left:100px;
	background: rgba(0,0,0,.8);
	position:relative;/*for close button positioning*/
}
#profile_sidebar li{
	list-style-type: none;
}
#profile_sidebar ul{
	font-size:18px;
	margin:0;
	padding:0;

}
#profile_sidebar li a{

}
#profileHome-info-img{
	height:150px;
	width:120px;
	margin:1em;
	padding:0;
	float:left;
}
#profileHome-info-img{
	margin:1em;
}
#profileHome-info-img img{
	width:100px;
	height:120px;
}
#profileHome-info-img img:hover{
	border:2px solid #ffc000;
	/*float:left;
	border:1px solid #AFAFAF;
	width:100px;
	min-height:100px;
	background:rgba(0,0,0,.50);*/
}
#profileHome_info{
	/*Need float and width to keep basicInfo borders contained*/
	float:left;
	width:400px;
	background: #1d1d1d;
	margin:1em 0;
}
#profileHome_top{

	height:150px;
}
#profileHomeBasicInfo{
	border-top:1px solid #5d6567;
	border-bottom: 1px solid #5d6567;
	font-size:15px;
	font-weight:lighter;
	padding:15px 10px;
	
}

#profileHomeBasicInfo ul li{
	display:inline;

	color:white;

}
#profileHome_bottom{
	clear:both;
	background-color: white;
	margin: 0 1em;

}
#info_username{
	font-size:15px;
	text-transform:uppercase;
}
div.info_name{
	padding:15px 10px;
}
#info_name{
	font-size:22px;
}
.blueLink{
	color:#0085FF;
}
#profileHome_description{
	font-style:italic;
	font-size:16px;
	padding:15px 10px;
}
/*General Table CSS for Photos,INS,Activity,etc*/
#Profile-Home-wrapper th{
	background-color: #5d6567;
	color:white;
	text-align:left;
	font-size:16px;
	font-weight:normal;
	text-transform:uppercase;
}
#Profile-Home-wrapper table.generalGrid{
	width:100%;
}
.gridItem img{
	width:200px;
	height:200px;
}
td.gridItem{
	text-align:center;
}
.gridItemDescription{

}
#CloseButton{
	position:absolute;
	right:0;
	top:0;
}